.cabecalho {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2.5rem 1.5rem;
    position: absolute;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    width: 15%;
}

.logo__imagem {
    width: 100%;
    border-radius: 50%;
}

.logo__texto {
    display: none;
}

.menu__lista {
    display: none;
}


/* Página Todos os Projetos */
.cabecalho__projetos {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.5rem 0 1.5rem;
}

.cabecalho__projetos--link {
    width: 25%;
}

@media screen and (min-width: 768px) {

    /* Página Todos os Projetos */
    .cabecalho__projetos {
        padding-right: 3.5rem;
    }

    .cabecalho__projetos--link {
        width: 18%;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        justify-content: space-around;
    }

    .logo {
        width: 9%;
    }

    .menu__lista {
        display: flex;
        gap: 3rem;
    }

    .menu__lista a {
        font-size: 1rem;
        font-weight: 400;
    }

    /* Página Todos os Projetos */
    .cabecalho__projetos {
        justify-content: flex-end;
    }

    .cabecalho__projetos--link {
        width: 18%;
    }
}

@media screen and (min-width: 1366px) {
    .cabecalho__projetos--link {
        width: 15%;
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        width: 6%;
    }

    /* Página Todos os Projetos */
    .cabecalho__projetos--link {
        width: 15%;
    }
}

@media screen and (min-width: 1920px) {
    .menu__lista a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 2560px) {
    .cabecalho__projetos--link {
        width: 12%;
    }
}